.row {
  color: white;
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  max-width: 100px;
}
