.loginScreen {
  position: relative;
  height: 100%;
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 0.6em 1.4em;
  font-size: 1rem;
  color: #fff;
  background: #e50914;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
}
