.signupScreen {
  max-width: 300px;
  padding: 70px;
  margin: auto;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
}
.signupScreen > form > h1 {
  margin-bottom: 1em;
}
.signupScreen > form {
  display: grid;
  flex-direction: column;
}
.signupScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 3px;
  border: none;
  padding: 1em;
  width: 100%;
}
.signupScreen > form > button {
  padding: 0.7em;
  font-weight: 600;
  color: #fff;
  border-radius: 3px;
  background: #e50914;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.signUpScreen__gray {
  color: gray;
}
